html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: rgba(0,0,0,0.6);
  position: relative;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.viewbox {
  width: 375px;
  height: 667px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -333px 0 0 -187px;
  overflow: hidden;
  background: #68152a url(assets/background-mask.png) no-repeat 50% / 100% auto;
}

#svg {
  width: 750px;
}

.reflection {
  display: none;
}
